[submodule "vendor/powerline-shell"]
	path = vendor/powerline-shell
	url = git@github.com:matthewpatterson/powerline-shell.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/phpfolding.vim"]
	path = vim/bundle/phpfolding.vim
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "vim/bundle/salt-vim"]
	path = vim/bundle/salt-vim
	url = git://github.com/saltstack/salt-vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = git://github.com/vim-scripts/vcscommand.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-hack"]
	path = vim/bundle/vim-hack
	url = git://github.com/hhvm/vim-hack.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
